<%= render 'header' %>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  </head>
  <body>

    <div class="container">

      <!-- Content here -->

      <div>
        <div class="form-group">
          <label for="month">Month:</label>
          <input class="form-control" id="query">
        </div>
        
        <button id="load" class="btn btn-primary">Search</button>
        <!-- <button id="download" class="btn btn-primary">Download</button> -->
        <!-- <a id="download_link" download>Download Link</a> -->
        <form class="add_new_sc" action="/sadhna_cards/new">
          <button type="submit" class="btn btn-success">Add Question
          </button>
        </form>
      </div>

      <br>

      <ul class="sc_list list-group">
        <% if @trending_questions.count > 0 %>
          <% @trending_questions.each do |card| %>
            <li class="list-group-item">
              <text>card.value</text>
            </li>
          <% end %>
        <% else %>
          <li class="list-group-item"> No Sadhana Cards found for selected month </li>          
        <% end %>

      </ul>

    </div>
    
  </body>
</html>

<script type="text/javascript">
  $(document).ready(function(){

    $("#load").click(function(e){

      data = {
        month: $('#month').val(),
        year: $('#year').val(),
      }
      // console.log(data)
      window.location.href = "/sadhna_cards?month=" + data.month + "&year=" + data.year
    })

    $("#download_link").hide()

    $("#download").click(function(e){

      data = {
        month: $('#month').val(),
        year: $('#year').val(),
      }
      user_id = '<%= current_user.id %>'
      // console.log(data)

      url = "/users/" + user_id + "/report?month=" + data.month + "&year=" + data.year
      window.location = url

    })
  })
</script>

<style type="text/css">
  
  .sc_list .btn {
    width: 100% !important;
  }

  .add_new_sc {
    float: right;
  }
</style>