<%= render 'sadhna_cards/header' %>

<div class="badges container">

    <ul class="sc_list list-group">
      <label>Unlocked Badges</label>
      <% if @unlocked_badges.count > 0 %>
        <% @unlocked_badges.each do |badge| %>
          <li class="list-group-item unlocked">
            <table>
              <td>
                <%= badge[0] %>
              </td>
              <td>
                <span class="glyphicon glyphicon-star"></span>
              </td>
            </table>
          </li>
        <% end %>
      <% else %>
        <li class="list-group-item unlocked"> No Unlocked badges yet</li>
      <% end %>
    </ul>
  

  <ul class="sc_list list-group">
    <label>Locked Badges</label>
    <% @locked_badges.each do |badge| %>
      <li class="list-group-item locked">
        <table>
          <td>
            <%= badge[0] %>
          </td>
          <td>
            <span class="glyphicon glyphicon-star-empty"></span>
          </td>
        </table>
      </li>
    <% end %>
  </ul>
