<%= render 'sadhna_cards/header' %>

<div class="container">

  <ul class="sc_list list-group">
    <% @users.each do |user| %>
      <li class="list-group-item">
        <a href="/users/<%= user.id %>"><%= if user.name then user.name else user.email end %></a>
      </li>
    <% end %>
  </ul>

</div>