// Place all the styles related to the SadhnaCard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.add_sc {
  float: right;
}

.sc_list {
  margin-top: 40px;
}

.first_column {
  width: 70%;

  input {
    width: 100%;
  }
}

input#japa_rounds {
  width: 100%
}

.form-group {
  .row {
    margin-left: 0px;
    margin-right: 0px;
  }
}

input#date {
  width: 100%;
  height: 35px;
}

#update {
  width: 100%;
}

#create {
  width: 100%;
}

h3 {
  margin-left: 15px;
}

table {
  input {
    border-radius: 0px;
  }
}

.header {
  width: 100%
}
      
.user_icon {
  cursor: pointer;
  float: right;
  margin-top: 17px;
  margin-left: 10px;
  margin-right: 10px;
}



