// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

td {
  width: 80%;
}

.badges {
  td {
    width: 92%;
  }  
}

.locked {
  span {
    color: grey;
  }
}

