<div class="container-fluid">
  <%= form_tag model: @sadhna_card do %>

     <% if @sadhna_card.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@sadhna_card.errors.count, "error") %> prohibited
          this sadhna_card from being saved:
        </h2>
        <ul>
          <% @sadhna_card.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <label for="japa_rounds">Japa rounds</label>
      <input type="text" class="form-control" id="japa_rounds" placeholder="16" value="<%= @sadhna_card.japa_rounds %>">
    </div>
    <div class="form-group">
      <label for="reading">Reading</label>
      <input type="text" class="form-control" id="reading" placeholder="30 mins">
    </div>
    <div class="form-group">
      <label for="hearing">Hearing</label>
      <input type="text" class="form-control" id="hearing" placeholder="30 mins">
    </div>
    <div class="form-group">
      <label for="service">Service</label>
      <input type="text" class="form-control" id="service">
    </div>
    <div class="form-group">
      <label for="chad">CHAD</label>
      <input type="text" class="form-control" id="chad_chapter" placeholder="Chapter">
      <input type="text" class="form-control" id="Start" placeholder="Start">
      <input type="text" class="form-control" id="End" placeholder="End">
    </div>
    <div class="form-group">
      <label for="wake_up">Wake Up</label>
      <input type="text" class="timepicker form-control" id="wake_up">
    </div>
    <div class="form-group">
      <label for="slept_at">Slept at</label>
      <input type="text" class="timepicker form-control" id="slept_at">
    </div>

  <% end %>
</div>