<meta name="viewport" content="width=device-width, initial-scale=1">
<nav class="navbar navbar-default">
  <div class="container">
    <div class="header navbar-header">
      <a class="navbar-brand" href="/sadhna_cards">Sadhana Cards</a>
      <% if current_user.present? %>

        <a href="/logout" class="user_icon">Logout</a>  
        <span class="user_icon user glyphicon glyphicon-user"></span> 
        <span class="user_icon badges glyphicon glyphicon-star"></span> 
        
        
      <% end %>
    </div>
    
  </div>
</nav>

<script type="text/javascript">
  $(document).ready(function(){
    $(".user").click(function(e){
      window.location.href = "/users/"
    })

    $(".badges").click(function(e){
      window.location.href = "/badges/"
    })
  })

</script>