<%= render 'header' %>
<div class="container-fluid">
<h3>New Sadhna Card</h3>
  <br>
 
<%= render 'form' %>
 
 <div>
<button id="create" class="btn btn-primary">Save</button>
</div>

<div class="container-fluid">
