<%= render 'header' %>
<div class="container">
<h3>New Sadhana Card</h3>
  <br>
 
<%= render 'form' %>
 
 <div>
<button id="create" class="btn btn-primary">Save</button>
</div>

<div class="container-fluid">

<style type="text/css">
  #create {
    margin-bottom: 40px;
  }
</style>