  <%= render 'header' %>
<div class="container-fluid">
  <h1>Edit Sadhna Card</h1> <h2><%= @sadhna_card.date %></h2>
  <div id="sc_id" class="hidden"><%= @sadhna_card.id %></div>
  <%= render 'form' %>
  
  <button id="update" class="btn btn-primary">Update</button>
  
</div>